<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Edit Post</h2>
  </div>
  <form class="form edit-post">
    <input type="hidden" name="post-id" value="{{post.id}}" />
    <div class="mb-3">
      <label class="form-label" for="post-title">Title</label>
      <input
        class="form-control"
        type="text"
        name="post-title"
        value="{{post.title}}"
      />
    </div>

    <div class="mb-3">
      <label class="form-label" for="post-content">Content</label>
      <textarea
        class="form-control"
        name="post-content"
      >{{post.content}}</textarea>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Update</button>

      <button type="button" id="delete" class="btn btn-danger">Delete</button>
    </div>
  </form>
</div>

<script src="/js/edit.js"></script>